[submodule "detectron2"]
	path = detectron2
	url = https://github.com/29233/detectron2.git
[submodule "pytorchvideo"]
	path = pytorchvideo
	url = https://github.com/29233/pytorchvideo.git
[submodule "SlowFast"]
	path = SlowFast
	url = https://github.com/29233/SlowFast.git
